@import url(../assets/fonts/fonts.css);

body {
    font-family: "Segoe UI", sans-serif;
    margin: auto;
    font-weight:300;
    font-style: normal;
    width: 100%;
    height: 100%;
}
    #boundingBox {
        background-color: red;
        height: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
        border-radius: 0px;
        border: 0px solid blue;
        display: grid;
        grid-template-rows: 30% auto 100px;
        grid-template-areas: 
            'header'
            'body'
            'button';
    }
        #headerLabel {
            grid-area: header;
            margin: 5px;
            margin-top: 25px;
            color: white;
            font-size: 20px;
            font-family: "Segoe UI", sans-serif;
            font-weight:300;
            font-style: normal;
            vertical-align: middle;
        }
        #bodyLabel {
            grid-area: body;
            margin: 5px;
            color: white;
            font-size: 20px;
            font-family: "Segoe UI", sans-serif;
            font-weight:300;
            font-style: normal;
            line-height: 100%;
        }
        #continueButton {
            grid-area: button;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 25%;
            margin-right: 25%;
            color: white;
            border: 0px solid white;
            border-radius: 8px;
            line-height: 20px;
            font-size: 20px;
            font-family: "Segoe UI", sans-serif;
            font-weight:300;
            font-style: normal;
        }