@import url(../assets/fonts/fonts.css);

body {
  font-family: "Segoe UI", sans-serif;
  margin: auto;
  font-weight:300;
  font-style: normal;
  width: 100%;
  height: 100%;
}
    #boundingBox {
        width: 100%;
        height: 100%;
        grid-template-rows: 50px auto;
        grid-template-areas:
            'headerBar'
            'primaryBody';
        grid-gap: 0px;
    }
        #optionsHeaderBar {
            grid-area: headerBar;
            width: 100%;
            height: 50px;
        }
            #optionsHeaderBarLabel {
                display: inline-block;
                line-height: 50px;
                font-size: 25px;
                margin-left: 15px;
                color: white;
            }
        #optionsPrimaryBody {
            grid-area: primaryBody;
            width: 100%;
            height: calc(100% - 50px);
            position: relative;
        }
            #regionLabel {
                position: absolute;
                top: 15px;
                left: 20px;
                font-size: 25px;
                color: white;
            }
            #regionButton {
                position: absolute;
                top: 60px;
                left: 20px;
                font-size: 15px;
                font-family: "Segoe UI", sans-serif;
                font-weight:300;
                font-style: normal;
                border: 1px solid white;
                color: white;
                border-radius: 8px;
                width: 125px;
                height: 40px;
                z-index: 1;
                transition: background-color 0.2s ease-in-out;
            }
                #regionSelect {
                    position: absolute;
                    top: 60px;
                    margin: 0px;
                    padding: 0px;
                    width: 500px;
                    height: 38px;
                    border-radius: 8px;
                    border: 1px solid white;
                    display: grid;
                    opacity: 0;
                    grid-template-columns: repeat(4, 125px);
                    pointer-events: none;
                    transition: all 0.3s ease-out;
                    z-index: 0;
                    left: 0px;
                }
                    #regionSelect.show {
                        opacity: 1;
                        left: 145px;
                        pointer-events: all;
                        transition: all 0.3s ease-out;
                    }
                    .regionSelectButton {
                        grid-row: 1;
                        font-size: 15px;
                        font-family: "Segoe UI", sans-serif;
                        font-weight:300;
                        font-style: normal;
                        margin: 0px;
                        width: 125px;
                        height: 100%;
                        border-radius: 8px;
                        border: 0px solid white;
                        transition: background-color 0.2s ease-in-out;
                    }
            #themeLabel {
                position: absolute;
                top: 130px;
                left: 20px;
                font-size: 25px;
                color: white;
            }
            #themeButton {
                position: absolute;
                top: 175px;
                left: 20px;
                font-size: 15px;
                font-family: "Segoe UI", sans-serif;
                font-weight:300;
                font-style: normal;
                border: 1px solid white;
                color: white;
                border-radius: 8px;
                width: 125px;
                height: 40px;
                z-index: 1;
                transition: background-color 0.2s ease-in-out;
            }
                #themeSelect {
                    position: absolute;
                    top: 175px;
                    margin: 0px;
                    padding: 0px;
                    width: 250px;
                    height: 38px;
                    display: grid;
                    grid-template-columns: repeat(2, 125px);
                    border-radius: 8px;
                    border: 1px solid white;
                    opacity: 0;
                    grid-template-columns: repeat(4, 125px);
                    pointer-events: none;
                    transition: all 0.3s ease-out;
                    z-index: 0;
                    left: 0px;
                }
                    #themeSelect.show {
                        opacity: 1;
                        left: 145px;
                        pointer-events: all;
                        transition: all 0.3s ease-out;
                    }
                    .themeSelectButton {
                        grid-row: 1;
                        font-size: 15px;
                        font-family: "Segoe UI", sans-serif;
                        font-weight:300;
                        font-style: normal;
                        margin: 0px;
                        width: 125px;
                        height: 100%;
                        border-radius: 8px;
                        border: 0px solid white;
                        transition: background-color 0.2s ease-in-out;
                    }
            #costLabel {
                position: absolute;
                top: 245px;
                left: 20px;
                font-size: 25px;
                color: white;
            }
            #costButton {
                position: absolute;
                top: 312px;
                left: 20px;
                font-size: 15px;
                font-family: "Segoe UI", sans-serif;
                font-weight:300;
                font-style: normal;
                border: 1px solid white;
                color: white;
                border-radius: 8px;
                width: 125px;
                height: 40px;
                z-index: 1;
                transition: background-color 0.2s ease-in-out;
            }
                #costSelect {
                    position: absolute;
                    top: 312px;
                    margin: 0px;
                    padding: 0px;
                    width: 250px;
                    height: 38px;
                    display: grid;
                    grid-template-columns: repeat(2, 125px);
                    border-radius: 8px;
                    border: 1px solid white;
                    opacity: 0;
                    grid-template-columns: repeat(4, 125px);
                    pointer-events: none;
                    transition: all 0.3s ease-out;
                    z-index: 0;
                    left: 0px;
                }
                    #costSelect.show {
                        opacity: 1;
                        left: 145px;
                        pointer-events: all;
                        transition: all 0.3s ease-out;
                    }
                    .costSelectButton {
                        grid-row: 1;
                        font-size: 15px;
                        font-family: "Segoe UI", sans-serif;
                        font-weight:300;
                        font-style: normal;
                        margin: 0px;
                        width: 125px;
                        height: 100%;
                        border-radius: 8px;
                        border: 0px solid white;
                        transition: background-color 0.2s ease-in-out;
                    }  
            #costNoticeLabel {
                position: absolute;
                word-wrap:normal;
                line-break:normal;
                top: 280px;
                width: 225px;
                left: 20px;
                font-size: 9px;
                color: #777777;
            }
            #notiLabel {
                position: absolute;
                top: 382px;
                left: 20px;
                font-size: 25px;
                color: white;
            }
            #notiButton {
                position: absolute;
                top: 427px;
                left: 20px;
                font-size: 15px;
                font-family: "Segoe UI", sans-serif;
                font-weight:300;
                font-style: normal;
                border: 1px solid white;
                color: white;
                border-radius: 8px;
                width: 125px;
                height: 40px;
                z-index: 1;
                transition: background-color 0.2s ease-in-out;
            }
                #notiSelect {
                    position: absolute;
                    top: 427px;
                    margin: 0px;
                    padding: 0px;
                    width: 250px;
                    height: 38px;
                    display: grid;
                    grid-template-columns: repeat(2, 125px);
                    border-radius: 8px;
                    border: 1px solid white;
                    opacity: 0;
                    grid-template-columns: repeat(4, 125px);
                    pointer-events: none;
                    transition: all 0.3s ease-out;
                    z-index: 0;
                    left: 0px;
                }
                    #notiSelect.show {
                        opacity: 1;
                        left: 145px;
                        pointer-events: all;
                        transition: all 0.3s ease-out;
                    }
                    .notiSelectButton {
                        grid-row: 1;
                        font-size: 15px;
                        font-family: "Segoe UI", sans-serif;
                        font-weight:300;
                        font-style: normal;
                        margin: 0px;
                        width: 125px;
                        height: 100%;
                        border-radius: 8px;
                        border: 0px solid white;
                        transition: background-color 0.2s ease-in-out;
                    } 