@import url(../assets/fonts/fonts.css);

body {
  font-family: "Segoe UI", sans-serif;
  margin: auto;
  font-weight:300;
  font-style: normal;
  width: 100%;
  height: 100%;
}
    #boundingBox {
        width: 100%;
        height: 100%;
        grid-template-rows: 50px auto;
        grid-template-areas:
            'headerBar'
            'primaryBody';
        grid-gap: 0px;
    }
        #optionsHeaderBar {
            grid-area: headerBar;
            width: 100%;
            height: 50px;
        }
            #optionsHeaderBarLabel {
                display: inline-block;
                line-height: 50px;
                font-size: 25px;
                margin-left: 15px;
                color: white;
            }
        #optionsPrimaryBody {
            grid-area: primaryBody;
            width: 100%;
            height: 100%;
            position: relative;
        }
            #regionLabel {
                position: absolute;
                top: 15px;
                left: 20px;
                font-size: 25px;
                color: white;
            }
            #regionButton {
                position: absolute;
                top: 60px;
                left: 20px;
                font-size: 15px;
                font-family: "Segoe UI", sans-serif;
                font-weight:300;
                font-style: normal;
                border: 1px solid white;
                color: white;
                border-radius: 8px;
                width: 125px;
                height: 40px;
            }
                #regionSelect {
                    position: absolute;
                    top: 60px;
                    left: 145px;
                    margin: 0px;
                    padding: 0px;
                    width: 500px;
                    height: 38px;
                    display: grid;
                    grid-template-columns: repeat(4, 125px);
                    border-radius: 8px;
                    border: 1px solid white;
                }
                    .regionSelectButton {
                        grid-row: 1;
                        font-size: 15px;
                        font-family: "Segoe UI", sans-serif;
                        font-weight:300;
                        font-style: normal;
                        margin: 0px;
                        width: 125px;
                        height: 100%;
                        border-radius: 8px;
                        border: 0px solid white;
                    }
            #themeLabel {
                position: absolute;
                top: 130px;
                left: 20px;
                font-size: 25px;
                color: white;
            }
            #themeButton {
                position: absolute;
                top: 175px;
                left: 20px;
                font-size: 15px;
                font-family: "Segoe UI", sans-serif;
                font-weight:300;
                font-style: normal;
                border: 1px solid white;
                color: white;
                border-radius: 8px;
                width: 125px;
                height: 40px;
            }
                #themeSelect {
                    position: absolute;
                    top: 175px;
                    left: 145px;
                    margin: 0px;
                    padding: 0px;
                    width: 250px;
                    height: 38px;
                    display: grid;
                    grid-template-columns: repeat(2, 125px);
                    border-radius: 8px;
                    border: 1px solid white;
                }
                    .themeSelectButton {
                        grid-row: 1;
                        font-size: 15px;
                        font-family: "Segoe UI", sans-serif;
                        font-weight:300;
                        font-style: normal;
                        margin: 0px;
                        width: 125px;
                        height: 100%;
                        border-radius: 8px;
                        border: 0px solid white;
                    }
            #costLabel {
                position: absolute;
                top: 245px;
                left: 20px;
                font-size: 25px;
                color: white;
            }
            #costButton {
                position: absolute;
                top: 290px;
                left: 20px;
                font-size: 15px;
                font-family: "Segoe UI", sans-serif;
                font-weight:300;
                font-style: normal;
                border: 1px solid white;
                color: white;
                border-radius: 8px;
                width: 125px;
                height: 40px;
            }
                #costSelect {
                    position: absolute;
                    top: 290px;
                    left: 145px;
                    margin: 0px;
                    padding: 0px;
                    width: 250px;
                    height: 38px;
                    display: grid;
                    grid-template-columns: repeat(2, 125px);
                    border-radius: 8px;
                    border: 1px solid white;
                }
                    .costSelectButton {
                        grid-row: 1;
                        font-size: 15px;
                        font-family: "Segoe UI", sans-serif;
                        font-weight:300;
                        font-style: normal;
                        margin: 0px;
                        width: 125px;
                        height: 100%;
                        border-radius: 8px;
                        border: 0px solid white;
                    }  
            #costNoticeLabel {
                position: absolute;
                top: 335px;
                left: 20px;
                font-size: 10px;
                color: #999999;
            }