<html>
    <head>
        <link rel="stylesheet" href="templates.css">
        <script type="text/javascript" defer src="templates.js"></script>
    </head>
    <body>
        <div id="overlay"></div>
        <div class="mainGridContainer">
            <div id="topBar">
                <label id="mainPageLabel">My Templates</label>
                <label id="regionLabel">N. Virginia</label>
                <button id="refreshButton"><img src="../assets/Refresh.png"></button>
                <button id="newTemplateButton">+</button>
            </div>
            <div id="primaryBody">
                
            </div>
        </div>
    </body>
</html>