@import url(../assets/fonts/fonts.css);

body {
  font-family: "Segoe UI", sans-serif;
  margin: auto;
  font-weight:300;
  font-style: normal;
}
::-webkit-scrollbar {
    width: 0px;
    display: none;
}

.menu {
  grid-area: menuBar;
  background-color: white;
  width: 50px;
  position: relative;
}
.header {
  grid-area: headerBar;
  background-color: white;
  height: 50px;
  position: relative;
  margin: 0;
}
#primaryBody {
  grid-area: primaryBody;
  background-color: white;
  margin: 0;
}
.grid-container-1 {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'menuBar primaryBody';
  grid-gap: 0px;
  background-color: white;
  grid-template-columns: 50px auto;
}
#dashboardButton {
  background-color: white;
  width: 100%;
  height: 50px;
  border: 0 solid white;
  transition: all 0.3s ease-in-out;
}
#dashboardButton.buttonBig {
  height: 60px;
  transition: all 0.3s ease-in-out;
}
#dashLine {
  position:absolute;
  background-color: white;
  width: 0%;
  text-align: center;
  margin-bottom: -10px;
  margin-right: 5px;
  margin-left: 5px;
  height: 2px;
  opacity: 30%;
  transition: width 0.2s ease-in-out;
}
  #dashLine.hovered {
    width: 28px;
    transition: width 0.2s ease-in-out;
  }
#serversButton {
  width: 100%;
  height: 50px;
  border: 0 solid white;
  transition: all 0.3s ease-in-out;
}
#serversButton.buttonBig {
  height: 60px;
  transition: all 0.3s ease-in-out;
}
#serversLine {
  position: absolute;
  background-color: white;
  width: 0%;
  text-align: center;
  margin-bottom: calc(-10% - 15px);
  margin-right: 5px;
  margin-left: 5px;
  height: 2px;
  opacity: 30%;
  transition: width 0.2s ease-in-out;
}
  #serversLine.hovered {
    width: 28px;
    transition: width 0.2s ease-in-out;
  }
#tasksButton {
  background-color: white;
  width: 100%;
  height: 50px;
  border: 0 solid white;
  transition: all 0.3s ease-in-out;
}
#tasksButton.buttonBig {
  height: 60px;
  transition: all 0.3s ease-in-out;
}
#tasksLine {
  position: absolute;
  background-color: white;
  width: 0%;
  text-align: center;
  margin-bottom: calc(-10% - 15px);
  margin-right: 5px;
  margin-left: 5px;
  height: 2px;
  opacity: 30%;
  transition: width 0.2s ease-in-out;
}
  #tasksLine.hovered {
    width: 28px;
    transition: width 0.2s ease-in-out;
  }
#optionsButton {
  background-color: white;
  width: 100%;
  height: 50px;
  border: 0 solid white;
  transition: all 0.3s ease-in-out;
}
#optionsButton.buttonBig {
  height: 60px;
  transition: all 0.3s ease-in-out;
}
#optionsLine {
  position: absolute;
  background-color: white;
  width: 0%;
  text-align: center;
  margin-bottom: calc(-10% - 15px);
  margin-right: 5px;
  margin-left: 5px;
  height: 2px;
  opacity: 30%;
  transition: width 0.2s ease-in-out;
}
  #optionsLine.hovered {
    width: 28px;
    transition: width 0.2s ease-in-out;
  }
#templatesButton {
  background-color: white;
  width: 100%;
  height: 50px;
  border: 0 solid white;
  transition: all 0.5s ease-in-out;
}
#templatesButton.buttonBig {
  height: 60px;
  transition: all 0.3s ease-in-out;
}
#templatesLine {
  position: absolute;
  background-color: white;
  width: 0%;
  text-align: center;
  margin-bottom: calc(-10% - 15px);
  margin-right: 5px;
  margin-left: 5px;
  height: 2px;
  opacity: 30%;
  transition: width 0.2s ease-in-out;
}
  #templatesLine.hovered {
    width: 28px;
    transition: width 0.2s ease-in-out;
  }
#signOutButton {
  background-color: white;
  width: calc(100% + 4px);
  height: 52px;
  border: 0 solid white;
  bottom: -2px;
  left:-4px;
  position: absolute;
  vertical-align: bottom;
  transition: all 0.3s ease-in-out;
}
#signOutButton.buttonBig {
  height: 60px;
  transition: all 0.3s ease-in-out;
}
.page {
  width: 100%;
  height: 100%;
}