@import url(../assets/fonts/fonts.css);

body {
  font-family: "Segoe UI", sans-serif;
  margin: auto;
  font-weight:300;
  font-style: normal;
}
::-webkit-scrollbar {
    width: 0px;
    display: none;
}

.menu {
  grid-area: menuBar;
  background-color: red;
  width: 50px;
  position: relative;
}
.header {
  grid-area: headerBar;
  background-color: green;
  height: 50px;
  position: relative;
  margin: 0;
}
#primaryBody {
  grid-area: primaryBody;
  background-color: blue;
  margin: 0;
}
.grid-container-1 {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'menuBar primaryBody';
  grid-gap: 0px;
  background-color: #2196F3;
  grid-template-columns: 50px auto;
}
#dashboardButton {
  background-color: #2196F3;
  width: 100%;
  height: 50px;
  border: 0 solid black;
}
#serversButton {
  width: 100%;
  height: 50px;
  border: 0 solid black;
}
#tasksButton {
  background-color: maroon;
  width: 100%;
  height: 50px;
  border: 0 solid black;
}
#optionsButton {
  background-color: yellow;
  width: 100%;
  height: 50px;
  border: 0 solid black;
}
#templatesButton {
  background-color: yellow;
  width: 100%;
  height: 50px;
  border: 0 solid black;
}
#signOutButton {
  background-color: yellow;
  width: 100%;
  height: 50px;
  border: 0 solid black;
  bottom: 0;
  left:0;
  position: absolute;
  vertical-align: bottom;
}
.page {
  width: 100%;
  height: 100%;
}