@import url(../assets/fonts/fonts.css);

body {
    font-family: "Segoe UI", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: white;
    margin: 0;
}
    #mainGridContainer {
        width: 100%;
        min-height: 100%;
        display: grid;
        grid-template-areas:
            'topLabel topLabel'
            'topLeftGrid topRightGrid'
            'bottomGrid bottomGrid';
        grid-gap: 0px;
        background-color: white;
        grid-template-rows: 50px 100px auto;
    }
        .topLabelContainer {
            min-width: 400px;
            grid-area: topLabel;
            width: 100%;
            height: 50px;
            background-color: white;
        }
            #mainPageLabel {
                margin: auto;
                width: 100%;
                height: 100%;
                font-size: 25px;
                padding-left: 15px;
                line-height: 50px;
                text-align: center;
            }
        .topLeftGridContainer {
            grid-area: topLeftGrid;
            width: calc(100% - 25px);
            height: 80px;
            margin-left: 10px;
            margin-top: 10px;
            padding-left: 10px;
            padding-top: 5px;
            border: 1px solid #ffffff;
            border-radius: 10px;
            color: white;
        }
            #yearlySpendings {
                width: 100%;
                font-size:40px;
                line-height:45px;
            }
            #yearlySpendingsLabel {
                width: 100%;
                font-size:20px;
                font-weight:200;
            }
        .topRightGridContainer {
            grid-area: topRightGrid;
            width: calc(100% - 25px);
            height: 80px;
            margin-left: 5px;
            margin-top: 10px;
            padding-left: 10px;
            padding-top: 5px;
            border: 1px solid #ffffff;
            border-radius: 10px;
            color:white;
        }
            #monthlySpendings {
                width: 100%;
                font-size:40px;
                line-height:45px;
            }
            #monthlySpendingsLabel {
                width: 100%;
                font-size:20px;
                font-weight:200;
            }
        .bottomGridContainer {
            grid-area: bottomGrid;
            width: calc(100% - 20px);
            height: calc(100% - 15px);
            margin-left: 10px;
            margin-top: 5px;
            border: 1px solid #ffffff;
            border-radius: 10px;
            display: grid;
            grid-template-areas:
                'buttonArea'
                'chartArea';
            grid-gap: 0px;
            grid-template-rows: 50px auto;
            min-width: 800px;
        }
            .buttonContainer {
                width: 100%;
                height: 50px;
                grid-area: buttonArea;
            }
                #dailyButton {
                    width: 180px;
                    height: 100%;
                    color: white;
                    margin-top: 5px;
                    margin-left:5px;
                    margin-right: 0px;
                    background-color: white;
                    border: 0px solid white;
                    border-radius: 8px;
                    font-family: "Segoe UI";
                    font-style: normal;
                    font-size: 20px;
                    font-weight: 200;
                }
                #monthlyButton {
                    width: 180px;
                    height: 100%;
                    color: #aaaaaa;
                    margin-top:5px;
                    margin-left:0px;
                    background-color: white;
                    border: 0px solid white;
                    border-radius: 8px;
                    font-family: "Segoe UI";
                    font-style: normal;
                    font-size: 20px;
                    font-weight: 200;
                }
            .chart {
                width: calc(100% - 20px);
                height: calc(100% - 25px);
                grid-area: chartArea;
                margin-left:5px;
                margin-top:10px;
                margin-bottom:5px;
                display: grid;
                grid-gap: 0px;
                padding-left: 20px;
                padding-top: 10px;
                grid-template-columns: repeat(var(--cols), calc((100% - 30px) / var(--cols)));
            }
                .outline {
                    width: calc(100% - 70px);
                    height: 1px;
                    margin-left: 0px;
                    margin-right: 0px;
                    bottom: 43px;
                    position: absolute;
                }
                .bar {
                    grid-row: 1;
                    grid-column: var(--col);
                    width: 60%;
                    text-align: center;
                    height: calc(var(--hei) * (100% - 60px));
                    margin-bottom: 30px;
                    margin-left: 20%;
                    margin-right: 20%;
                    margin-top: auto;
                    background-color: white;
                    z-index: 0;
                }
                    .bar .barPopup {
                        color: white;
                        display: none;
                        font-family: "Segoe UI", sans-serif;
                        font-weight:300;
                        font-style: normal;
                        font-size: 10px;
                        text-align: center;
                        margin-top: -44px;
                        margin-left: -100%;
                        width: 300%;
                        white-space: pre-line;
                        z-index: 1000;
                    }
                    .bar:hover .barPopup {
                        display: block;
                    }